{% extends "base.html" %}
{% block topbar_session %}
<span class="session-tab active">{{ remote_label }}</span>
<a class="session-tab close-tab" href="/remote-manager">Close</a>
{% endblock %}
{% block main_class %}remote-main{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/remote.css?v={{ asset_version }}">
{% if remote.protocol == 'ssh' %}
<link rel="stylesheet" href="/static/vendor/xterm/xterm.css?v={{ asset_version }}">
{% endif %}
{% endblock %}
{% block content %}
<div class="remote-workspace">
  {% include "_remote_host_rail.html" %}
  {% include "_remote_session_panel.html" %}
</div>
{% if remote.protocol == 'ssh' %}
<script src="/static/vendor/xterm/xterm.js?v={{ asset_version }}" defer></script>
<script src="/static/vendor/xterm/addon-fit.js?v={{ asset_version }}" defer></script>
<script src="/static/js/remote_session.js?v={{ asset_version }}&ssh=homelab-rewrite-3" defer></script>
{% else %}
<script type="module" src="/static/js/remote_rdp.js?v={{ asset_version }}"></script>
{% endif %}
{% endblock %}
